.grid-container {
  display: grid;
  gap: 2rem 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
}

.grid-item{
  border-radius: 25px;
}

.text-style{
  color:rgb(254,161,22);
  font-size: 24px;
}

.add-minus{
  position: absolute;
  margin-top: -50px;
  margin-left: 200px;
  font-weight: 900;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0px solid;
  border-right: 0px solid;
  border-radius: 20px;
  height: 40px;
}

.line-clr {
  background: var(--primary);
}